@import "~normalize.css";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Gabriela&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #191a49;
}

body {
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1;
}

p {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  display: block;
  stroke: currentColor;
}
