@import "~normalize.css";

/* FONTS */

/* gabriela-regular - latin */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/gabriela/gabriela-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Gabriela Regular"), local("Gabriela-Regular"),
    url("fonts/gabriela/gabriela-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/gabriela/gabriela-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/gabriela/gabriela-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("fonts/gabriela/gabriela-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/gabriela/gabriela-v8-latin-regular.svg#Gabriela") format("svg"); /* Legacy iOS */
}

/* cabin-regular - latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/cabin/cabin-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Cabin"), local("Cabin-Regular"),
    url("fonts/cabin/cabin-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/cabin/cabin-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/cabin/cabin-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/cabin/cabin-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/cabin/cabin-v14-latin-regular.svg#Cabin") format("svg"); /* Legacy iOS */
}

/* open-sans - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/open-sans/open-sans-bold.ttf") format("truetype");
}

/* noto-sans - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/open-sans/noto-sans-bold.ttf") format("truetype");
}

/* ***** */

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #191a49;
}

body {
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1 1 0%;
  overflow: auto;
}

@media print {
  body {
    display: block;
    height: auto;
    overflow: visible;
  }
  #root {
    display: block;
  }
}

p {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  display: block;
}

*:focus {
  outline: auto #696cd1 2px;
}

*:active {
  outline: none;
}
