.banner {
	background: var(--background-alt-blue-france);
}

.companyRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
}

.datapoint {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
