@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.indicator {
	color: var(--text-mention-grey);
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.spinning {
	animation: spin 1s linear infinite;
	display: inline-block;
}
