/* === layout === */
.hidden {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}
/* === */

/* === typo === */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.align-middle {
    vertical-align: middle;
}

.align-sub {
    vertical-align: sub;
}

.align-bottom {
    vertical-align: bottom;
}

.italic {
    font-style: italic;
}

.break-words {
    overflow-wrap: break-word;
}

.no-break {
    white-space: nowrap;
}

.underline {
    text-decoration: underline;
}
/* === */

/* === color === */
/* -- custom */
.color-red {
    color: #b91c1c;
}
/* === */

/* === cursor === */
.cursor-pointer {
    cursor: pointer;
}
.cursor-help {
    cursor: help;
}
.cursor-default {
    cursor: default;
}
.\!cursor-default {
    cursor: default !important;
}
/* === */

/* === flex / grid === */
.grow {
    flex-grow: 1;
}
.self-end {
    align-self: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.content-center {
    align-content: center;
}
.items-end {
    align-items: flex-end;
}
.flex-1 {
    flex: 1;
}
/* === */

/* background */

/* -- custom */
.no-bg {
    background: none;
}
/* === */

/* === based on dsfr === */
/* typo */
.text-dsfr-neutral {
    color: var(--text-default-grey);
}

.text-dsfr-success {
    color: var(--text-default-success);
}

.text-dsfr-warning {
    color: var(--text-default-warning);
}

.text-dsfr-error {
    color: var(--text-default-error);
}

.text-dsfr-action-high-blue-france {
    color: var(--text-action-high-blue-france);
}

/* background */
.bg-dsfr-alt-grey {
    background-color: var(--background-alt-grey);
}
/* === */

/* stepper (dsfr implementation stops at 8) */
.fr-stepper__steps[data-fr-steps="13"] {
    --steps: 13;
    --step-width: calc(100% / 13);
}

.fr-stepper__steps[data-fr-current-step="9"] {
    --current-step: 9;
}

.fr-stepper__steps[data-fr-current-step="10"] {
    --current-step: 10;
}

.fr-stepper__steps[data-fr-current-step="11"] {
    --current-step: 11;
}

.fr-stepper__steps[data-fr-current-step="12"] {
    --current-step: 12;
}

.fr-stepper__steps[data-fr-current-step="13"] {
    --current-step: 13;
}

/* === */
.fr-recap-card {
    border: 1px solid var(--border-default-grey);
    padding: 0 1.5rem;
}

.fr-recap-card:has(+ .fr-recap-card) {
    margin-bottom: 1rem;
}

.fr-recap-card > hr {
    background-size: 100% 2px;
    padding: 0 0 1rem;
}

.fr-recap-card > hr:has(+ .fr-recap-card--content--stat) {
    padding: 0 0 2px;
}

.fr-recap-card--title {
    display: flex;
}

.fr-recap-card--title > *:first-child {
    margin: 1rem 0;
    flex: 1;
}

.fr-recap-card--content:not(.fr-recap-card--content--stat) {
    margin-bottom: 1rem;
}

.fr-recap-card--content:has(+ .fr-recap-card--content) {
    border-bottom: 1px solid var(--background-alt-grey);
}

.fr-recap-card--content--stat {
    display: flex;
    padding: 1rem;
}

.fr-recap-card--content--stat > *:first-child {
    font-size: 1.5rem;
    margin: .5rem .75rem .5rem 0;
    align-self: center;
}

.fr-recap-card--content--stat > *:last-child {
    margin: auto 0;
}

.fr-recap-card--edit-link {
    align-self: center;
}

.fr-hr--vertical {
    padding: 0 .75rem 0 0;
    background-size: 1px 100px;
}
