.app {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.error {
    flex-grow: 1;
}

.impersonate-notice {
    position: fixed;
    z-index: 99999;
    width: 100%;
    margin-top: -3.5rem;
}

.account-menu-list {
    pointer-events: none;
    position: absolute;
    top: 50%;
    z-index: calc(var(--ground) + 1000);
    filter: drop-shadow(var(--overlap-shadow));
    @media (max-width: 36rem) {
        position: relative;
        z-index: calc(var(--ground) + 4000);
        top: 0;
    }
}

.account-menu-button {
    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
    color: var(--text-action-high-blue-france);
}

.not-found {
    text-align: center;
}
