# Protect workflow files (*.y*ml: most workflows here use the .yaml extension)
.github/workflows/*.y*ml @socialgouv/sre @SocialGouv/admins-egapro
.github/CODEOWNERS @socialgouv/sre @SocialGouv/admins-egapro
.kontinuous/ @socialgouv/sre @SocialGouv/admins-egapro