# Default reviewers for all PRs
* @SocialGouv/admins-egapro

# Protect workflow files
.github/workflows/*.yml @socialgouv/sre @SocialGouv/admins-egapro
.github/CODEOWNERS @socialgouv/sre @SocialGouv/admins-egapro
.kontinuous/ @socialgouv/sre @SocialGouv/admins-egapro