**/Dockerfile
**/Dockerfile.dev
**/node_modules
**/.gitignore

.git
.github
.kontinuous
.socialgouv.yaml
.releaserc.yml
*.md
LICENSE
node_modules

/packages/api/__pycache__
/packages/api/*.egg-info
/packages/api/*.db
/packages/api/tmp/
/packages/api/.coverage
/packages/api/htmlcov/
/packages/api/site/
/packages/api/venv/
/packages/api/.env
/packages/api/settings.json

/packages/app/.next
/packages/app/out
/packages/app/build

/packages/simulateur/.env
/packages/simulateur/build

packages/declaration/_site
packages/declaration/.sass-cache
packages/declaration/.jekyll-cache
packages/declaration/.jekyll-metadata
packages/declaration/.bundle
packages/declaration/vendor
