# API ENV VARIABLES
API_PORT=4000
KINTO_URL=http://kinto-server:8888/v1
KINTO_LOGIN=admin
KINTO_PASSWORD=passw0rd
KINTO_BUCKET=egapro
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=465
MAIL_FROM='EgaPro <contact@egapro.beta.gouv.fr>'
MAIL_USERNAME=****
MAIL_PASSWORD=****
MAIL_USE_TLS=true

# KINTO ENV VARIABLE
KINTO_BASE_URL=kinto-server
