# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
node_modules
/packages/app/.pnp
.pnp.js

# testing
/packages/app/coverage

# next.js
/packages/app/.next
/packages/app/out
/packages/app/build

# cra
/packages/simulateur/build

# misc
.DS_Store
*.pem
.history
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/.env

# vercel
.vercel
packages/app/.env.local
packages/app/.env.development.local
packages/app/.env.test.local
packages/app/.env.production.local

# typescript
*.tsbuildinfo

# API Python
/packages/api/__pycache__
/packages/api/*.egg-info
/packages/api/*.db
/packages/api/tmp/
/packages/api/.coverage
/packages/api/htmlcov/
/packages/api/site/
/packages/api/venv/
/packages/api/.env
/packages/api/settings.json