---
include:
  - /.gitlab-ci/stages/01-quality.yml
  - /.gitlab-ci/stages/02-prepare.yml
  - /.gitlab-ci/stages/03-register.yml
  - /.gitlab-ci/stages/04-secret.yml
  - /.gitlab-ci/stages/05-deploy.yml
  - /.gitlab-ci/stages/06-release.yml
  - /.gitlab-ci/stages/07-notify.yml
  - project: SocialGouv/gitlab-ci-yml
    file: /base_docker_kubectl_image_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_docker_helm_image_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_yarn_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_create_namespace_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_register_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_deploy_hpa_chart_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_delete_useless_k8s_ns_stage.yml
    ref: v16.2.0
  - project: SocialGouv/gitlab-ci-yml
    file: /base_notify_github_stage.yml
    ref: v16.2.0

variables:
  PROJECT: egapro
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  DEV_ENVIRONMENT_NAME: "egapro-dev"
  PROD_ENVIRONMENT_NAME: "prod"
  ENABLE_PERSISTENT_VOLUME: "false"
  GIT_STRATEGY: fetch
  GIT_DEPTH: 5
  # Docker Image Version
  DOCKER_VERSION: "18.06"
  NODE_VERSION: "10"
  CURL_VERSION: "7.67.0"
  HELM_VERSION: "0.20.0"
  KUBECTL_VERSION: "0.7.0"
  KINTO_VERSION: "13.1.1"
  MEMCACHED_VERSION: "1.5.12-alpine"
  POSTGRES_VERSION: "11-debian-9"
  POSTGRES_JOB_VERSION: "11-alpine"
  # Helm Chart Version
  POSTGRES_CHART_VERSION: "6.5.6"
  MEMCACHED_CHART_VERSION: "3.1.0"
  # Ports
  APP_PORT: 9000
  API_PORT: 4000
  KINTO_PORT: 8888
  # Quotas api
  API_RESOURCE_CPU_LIMIT: "50m"
  API_RESOURCE_MEMORY_LIMIT: "96Mi"
  API_RESOURCE_CPU_REQUEST: "5m"
  API_RESOURCE_MEMORY_REQUEST: "80Mi"
  API_MAIL_USE_TLS: '"false"'
  # Quotas app
  APP_RESOURCE_CPU_LIMIT: "50m"
  APP_RESOURCE_MEMORY_LIMIT: "128Mi"
  APP_RESOURCE_CPU_REQUEST: "5m"
  APP_RESOURCE_MEMORY_REQUEST: "128Mi"
  # Quotas Kinto
  KINTO_RESOURCE_CPU_LIMIT: "1000m"
  KINTO_RESOURCE_MEMORY_LIMIT: "2Gi"
  KINTO_RESOURCE_CPU_REQUEST: "10m"
  KINTO_RESOURCE_MEMORY_REQUEST: "512Mi"
  # Quotas job init Kinto
  INIT_KINTO_RESOURCE_CPU_LIMIT: "20m"
  INIT_KINTO_RESOURCE_MEMORY_LIMIT: "64Mi"
  INIT_KINTO_RESOURCE_CPU_REQUEST: "10m"
  INIT_KINTO_RESOURCE_MEMORY_REQUEST: "8Mi"
  # Quotas Memcached
  MEMCACHED_RESOURCE_CPU_LIMIT: "50m"
  MEMCACHED_RESOURCE_MEMORY_LIMIT: "64Mi"
  MEMCACHED_RESOURCE_CPU_REQUEST: "10m"
  MEMCACHED_RESOURCE_MEMORY_REQUEST: "32Mi"
  # Quotas Postgres
  POSTGRES_RESOURCE_CPU_LIMIT: "1000m"
  POSTGRES_RESOURCE_MEMORY_LIMIT: "1Gi"
  POSTGRES_RESOURCE_CPU_REQUEST: "25m"
  POSTGRES_RESOURCE_MEMORY_REQUEST: "128Mi"

stages:
  - Install
  - Code Quality
  - Registration
  - Create Secret
  - Deploy
  - Release
  - Notify Finished Deployment

.resolve_env: &resolve_env |-
  set -x

  export BRANCH_NAME=${BRANCH_NAME:=$CI_COMMIT_REF_SLUG}
  export HASH_SIZE=${HASH_SIZE:=7}
  export K8S_PROJECT=${K8S_PROJECT:=$PROJECT}
  BRANCH_NAME_HASHED=$( printf "${BRANCH_NAME}" | sha1sum | cut -c1-${HASH_SIZE} )
  export BRANCH_HASH=${BRANCH_HASH:="$BRANCH_NAME_HASHED"}
  export K8S_NAMESPACE="${PROJECT}-feature-${BRANCH_HASH}"


  if [[ -n "${PRODUCTION+x}" ]]; then
    export BRANCH_HASH=prod
    export IMAGE_TAG=$(printf "${CI_COMMIT_TAG}" | sed "s/^v//")
    export K8S_NAMESPACE="${PROJECT}"
    export DOMAIN="index-egapro.travail.gouv.fr"
    export ENV_SUFFIX=""

  elif [[ "${BRANCH_NAME}" = "master" ]]; then
    export BRANCH_HASH=master
    export IMAGE_TAG=${CI_COMMIT_SHA}
    export K8S_NAMESPACE="${PROJECT}-${BRANCH_HASH}"
    export DOMAIN="${PROJECT}-master.dev.fabrique.social.gouv.fr"
    export ENV_SUFFIX="-${BRANCH_HASH}"

  elif [[ -n "${CI_COMMIT_TAG}" ]]; then
    export BRANCH_HASH=preprod;
    export IMAGE_TAG=$(printf "${CI_COMMIT_TAG}" | sed "s/^v//")
    export K8S_NAMESPACE="${PROJECT}-${BRANCH_HASH}"
    export DOMAIN="${PROJECT}-preprod.dev.fabrique.social.gouv.fr"
    export ENV_SUFFIX=""

  else
    export IMAGE_TAG=${CI_COMMIT_SHA}
    export DOMAIN="${BRANCH_HASH}-${PROJECT}.dev.fabrique.social.gouv.fr"
    export ENV_SUFFIX="-${BRANCH_HASH}"
  fi

  export HOST="${DOMAIN}"

  set +x

before_script:
  - *resolve_env

Notify Success:
  extends: .base_notify_success_stage
  stage: Notify Finished Deployment
  dependencies:
    - Notify Starting Deployment
  before_script:
    - *resolve_env
    - export HOST="https://${DOMAIN}"
