services:
  db:
    restart: always
    image: postgres:14.17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: egapro
    ports:
      - 5438:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./packages/app/docker/db/egapro.sql:/docker-entrypoint-initdb.d/egapro.sql

  keycloak:
    build:
      context: .
      dockerfile: ./packages/keycloak/Dockerfile
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      EGAPRO_ORIGIN: "http://localhost:3000"
      E2E_USERNAME: "${E2E_USERNAME:-testuser}"
      E2E_PASSWORD: "${E2E_PASSWORD:-password}"
    ports:
      - "8081:8080"
    volumes:
      - ./packages/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
volumes:
  pgdata:
