services:
  db:
    restart: always
    image: postgres:14.17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: egapro
    ports:
      - 5438:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./packages/app/docker/db/egapro.sql:/docker-entrypoint-initdb.d/egapro.sql

volumes:
  pgdata:
