services:
  db:
    restart: always
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: egapro
    ports:
      - 5438:5432
    volumes:
      - pgdata:/var/lib/postgresql

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    command: start-dev --import-realm
    ports:
      - 8081:8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_CLIENT_SECRET: dev-secret-key-for-local-development-only
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    restart: always
volumes:
  pgdata:
