version: "3.8"

services:
  maildev:
    image: djfarrelly/maildev
    command: bin/maildev --web 1080 --smtp 1025 --hide-extensions STARTTLS
    ports:
      - "1025:1025"
      - "1080:1080"
    restart: always

  db:
    restart: always
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: egapro
    ports:
      - 5437:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  test_db:
    restart: always
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test_egapro
    ports:
      - 5436:5432

  app:
    image: egapro_app
    build:
      context: .
      dockerfile: ./packages/app/Dockerfile
    ports:
      - 3000:3000
    restart: "no"

volumes:
  pgdata:
