.shell {
	display: flex;
	gap: 1.5rem;
	max-width: 1600px;
	margin-inline: auto;

	@include respond-to(sm) {
		flex-direction: column;
	}
}

.nav {
	flex: 0 0 280px;

	@include respond-to(sm) {
		flex: 1 1 auto;
	}
}

.content {
	flex: 1;
	min-width: 0;
}
