.pageBackground {
	background: var(--background-alt-blue-france);
}

.contentContainer {
	background: var(--background-default-grey);
	border: 1px solid var(--border-default-grey);
	padding: 1.5rem;
}
