.paragraphe-list {
    display: block;
    list-style-type: var(--ul-type);
    padding-inline-start: var(--ul-start);
    margin: 0;
    padding: 0;
    margin-block-start: var(--xl-block);
    margin-inline-start: 0;
    margin-inline-end: 0;
    --xl-size: var(--xl-base)
}

.paragraphe-list > .paragraphe-item {
    display: list-item;
    text-align: --webkit-match-parent;
    --xl-base: calc(var(--xl-size) * 0.9);
    padding-bottom: var(--li-bottom);
}
