app:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  envFrom:
    - secretRef:
        name: "proconnect"
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    EGAPRO_PROCONNECT_DISCOVERY_URL: "https://auth.agentconnect.gouv.fr/api/v2"
    NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: "https://{{ .Values.global.host }}/api/auth/callback/proconnect"
    NEXT_PUBLIC_PROCONNECT_ISSUER: "https://auth.agentconnect.gouv.fr/api/v2"
    NEXT_PUBLIC_HOST: "https://{{ .Values.global.host }}"

maildev: {}
pgweb: {}

nginx:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
