app:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  env:
    - name: E2E_CLEANUP_TOKEN
      valueFrom:
        secretKeyRef:
          name: "egapro-secret"
          key: E2E_CLEANUP_TOKEN
          optional: true
  envFrom:
    - configMapRef:
        name: "proconnect"
        optional: true
    - secretRef:
        name: "proconnect"
        optional: true
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    EGAPRO_PROCONNECT_DISCOVERY_URL: "https://fca.integ01.dev-agentconnect.fr"

maildev: {}
pgweb: {}

nginx:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
