api:
  vars:
    EGAPRO_SEND_EMAILS: "True"
    EGAPRO_SMTP_HOST: maildev
    EGAPRO_SMTP_PORT: "1025"
    EGAPRO_SMTP_LOGIN: ""
    EGAPRO_SMTP_PASSWORD: ""
    EGAPRO_SMTP_SSL: ""

app:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  envFrom:
    - secretRef:
        name: "proconnect"
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    EGAPRO_PROCONNECT_DISCOVERY_URL: "https://sandbox.proconnect.gouv.fr"

maildev: {}
pgweb: {}

nginx:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"

redis:
  architecture: standalone
  image:
    tag: latest
