app:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  envFrom:
    - secretRef:
        name: "proconnect"
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    EGAPRO_PROCONNECT_DISCOVERY_URL: "https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr/realms/atlas/.well-known/openid-connect-configuration"

keycloak:
  ~chart: app
  imagePackage: keycloak
  containerPort: 8080
  probesPath: /
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  vars:
    KEYCLOAK_ADMIN: admin
    KEYCLOAK_ADMIN_PASSWORD: admin
    KEYCLOAK_CLIENT_SECRET: dev-secret-key-for-local-development-only
    KC_PROXY: edge
    KC_HOSTNAME: "keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr"
    KC_HOSTNAME_STRICT: "false"

maildev: {}
pgweb: {}

nginx:
  annotations:
    oblik.socialgouv.io/min-limit-cpu: 2
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
