kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  EGAPRO_PROCONNECT_ISSUER: "https://egapro-charon.ovh.fabrique.social.gouv.fr/proconnecttest"
  NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr/api/auth/callback/proconnect"
  EGAPRO_ORIGIN: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr"
