global:
  host: egapro.travail.gouv.fr
  sentryFront: "https://92bd32ba4e6411eb95f19aaf3eb391a2@sentry.fabrique.social.gouv.fr/49"

app:
  vars:
    EGAPRO_ENV: prod
  redirectFrom:
    - "egapro.fabrique.social.gouv.fr"
    - "index-egapro.travail.gouv.fr"


api:
  vars:
    EGAPRO_SENTRY_DSN: "https://084bf19c0e1141ddadbc1f7b86d2eb57@sentry.fabrique.social.gouv.fr/22"
  envFrom:
    - secretRef:
        name: "{{ .Values.global.pgSecretName }}"
    - secretRef:
        name: "staff"
    - secretRef:
        name: "egapro-secret"
    - secretRef:
        name: smtp

jobs:
  runs:
    build-app:
      with:
        buildArgs:
          REACT_APP_SENTRY_DSN: "{{ .Values.global.sentryFront }}"

    build-declaration:
      with:
        buildArgs:
          EGAPRO_SENTRY_DSN: "{{ .Values.global.sentryFront }}"

    build-simulateur:
      with:
        buildArgs:
          REACT_APP_SENTRY_DSN: "{{ .Values.global.sentryFront }}"