.banner {
	background-color: var(--background-contrast-blue-france);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	padding: 1.5rem;

	@include respond-from(md) {
		flex-direction: row;
		align-items: center;
		gap: 3.5rem;
		padding: 2.5rem 5rem;
	}
}

.content {
	flex: 1;
}

.link {
	--underline-img: none;
	text-decoration: none;
}
