.list {
    list-style: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.list li {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    align-items: center;
}

.list li span {
    padding-left: 0.25rem;
}

.numberOfEmployees {
    font-weight: 700;
}

@media (min-width: 576px) {
    .numberOfEmployees,
    .employeeslegend {
        display: block;
        text-align: center;
        line-height: 1.5;
    }
    .numberOfEmployees {
        font-weight: 700;
    }
    .employeeslegend {
        font-size: 0.875rem;
    }
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin: auto;
    width: 3.75rem;
}
