---

#
.register_stage:
  extends: .base_register_stage
  stage: Registration
  except:
    variables:
      - $PRODUCTION
  before_script:
    - cp yarn.lock ${CONTEXT}

#

Register api image:
  extends: .register_stage
  needs:
    - Build api
  dependencies:
    - Build api
  variables:
    CONTEXT: ./packages/api
    DOCKER_BUILD_ARGS: >-
      --shm-size 256M
    IMAGE_NAME: ${CI_REGISTRY_IMAGE}/api

Register app image:
  extends: .register_stage
  needs:
    - Build app
  dependencies:
    - Build app
  variables:
    CONTEXT: ./packages/app
    DOCKER_BUILD_ARGS: >-
      --shm-size 512M
    IMAGE_NAME: ${CI_REGISTRY_IMAGE}/app

Register init kinto image:
  extends: .register_stage
  variables:
    CONTEXT: ./
    DOCKERFILE: ./packages/kinto/Dockerfile
    DOCKER_BUILD_ARGS: >-
      --shm-size 128M
    IMAGE_NAME: ${CI_REGISTRY_IMAGE}/kinto
  before_script:

Register import-export image:
  extends: .register_stage
  variables:
    CONTEXT: packages/import-export
    IMAGE_NAME: ${CI_REGISTRY_IMAGE}/import-export

...
