api:
  vars:
    EGAPRO_SEND_EMAILS: "True"
    EGAPRO_SMTP_HOST: maildev
    EGAPRO_SMTP_PORT: "1025"
    EGAPRO_SMTP_LOGIN: ""
    EGAPRO_SMTP_PASSWORD: ""
    EGAPRO_SMTP_SSL: ""
  resources:
    requests:
      cpu: 100m
      memory: 640M
    limits:
      cpu: 500m
      memory: 1G

app:
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    NODE_ENV: production
  annotations:
    oblik.socialgouv.io/min-request-cpu: 500m

maildev: {}
pgweb: {}
