app:
  vars:
    MAILER_ENABLE: "True"
    MAILER_SMTP_HOST: maildev
    MAILER_SMTP_PORT: "1025"
    MAILER_SMTP_SSL: "False"
    NODE_ENV: production
#    EMAIL_LOGIN: "True"
  annotations:
    oblik.socialgouv.io/min-request-cpu: 500m

maildev: {}
pgweb: {}

