kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: https://app.proconnect.gouv.fr
  PROCONNECT_AUTHORIZATION_ENDPOINT: https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr/realms/atlas/protocol/openid-connect/auth
  PROCONNECT_TOKEN_ENDPOINT: https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr/realms/atlas/protocol/openid-connect/token
  PROCONNECT_USERINFO_ENDPOINT: https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr/realms/atlas/protocol/openid-connect/userinfo
  PROCONNECT_SCOPE: "openid email given_name usual_name phone_number organizations"
