kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  SECURITY_PROCONNECT_CLIENT_ID: "egapro-dev"
  SECURITY_PROCONNECT_CLIENT_SECRET: "dev-secret-key-for-local-development-only"
  EGAPRO_PROCONNECT_AUTHORIZATION_ENDPOINT: "https://keycloak-egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr/realms/atlas/protocol/openid-connect/auth"
  EGAPRO_PROCONNECT_TOKEN_ENDPOINT: "http://keycloak/realms/atlas/protocol/openid-connect/token"
  EGAPRO_PROCONNECT_USERINFO_ENDPOINT: "http://keycloak/realms/atlas/protocol/openid-connect/userinfo"
  EGAPRO_PROCONNECT_ISSUER: "https://keycloak-egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr"
  NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr/api/auth/callback/proconnect"
  EGAPRO_ORIGIN: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr"
