kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: https://app.proconnect.gouv.fr
  PROCONNECT_AUTHORIZATION_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/authorize
  PROCONNECT_TOKEN_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/token
  PROCONNECT_USERINFO_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/userinfo
  PROCONNECT_SCOPE: "openid email given_name usual_name phone_number organizations"
