kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  EGAPRO_PROCONNECT_AUTHORIZATION_ENDPOINT: "https://auth.agentconnect.gouv.fr/api/v2/authorize"
  EGAPRO_PROCONNECT_TOKEN_ENDPOINT: "https://auth.agentconnect.gouv.fr/api/v2/token"
  EGAPRO_PROCONNECT_USERINFO_ENDPOINT: "https://auth.agentconnect.gouv.fr/api/v2/userinfo"
  EGAPRO_PROCONNECT_ISSUER: "https://auth.agentconnect.gouv.fr/api/v2"
  NEXT_PUBLIC_PROCONNECT_CALLBACK_URL: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr/api/auth/callback/proconnect"
  EGAPRO_ORIGIN: "https://egapro-{{ .Values.global.branchSlug }}.ovh.fabrique.social.gouv.fr"
