kind: ConfigMap
apiVersion: v1
metadata:
  name: proconnect
data:
  # Variables utilisées par l'application
  SECURITY_PROCONNECT_CLIENT_ID: "egapro-dev"
  SECURITY_PROCONNECT_CLIENT_SECRET: "dev-secret-key-for-local-development-only"

  # Configuration des endpoints OAuth
  # Note: authorization_endpoint doit être externe (accessible depuis le navigateur)
  # tandis que token_endpoint et userinfo_endpoint utilisent l'URL interne du service Kubernetes
  EGAPRO_PROCONNECT_AUTHORIZATION_ENDPOINT: "https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr/realms/atlas/protocol/openid-connect/auth"
  EGAPRO_PROCONNECT_TOKEN_ENDPOINT: "http://keycloak:8080/realms/atlas/protocol/openid-connect/token"
  EGAPRO_PROCONNECT_USERINFO_ENDPOINT: "http://keycloak:8080/realms/atlas/protocol/openid-connect/userinfo"

  # Issuer pour référence (utilisé par le code si les endpoints ci-dessus ne sont pas définis)
  EGAPRO_PROCONNECT_ISSUER: "https://keycloak-{{ .Release.Namespace }}.ovh.fabrique.social.gouv.fr"
