.siren-col {
    width: 20%;
}

.name-col {
    width: 50%;
}

.display-text {
    font-size: 1rem;
}

.siren-display {
    padding-top: 30px;
    padding-bottom: 30px;
}

.add-entreprise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
