.text-align--center {
    text-align: center !important;
}

.text-align--right {
    text-align: right !important;
}

.table {
    overflow: auto;
}

.table table {
    display: table;
}

.table tbody {
    background-color: var(--background-default-grey) !important;
}

.table tbody tr:nth-child(even),
.table tbody:nth-child(odd) th[scope="rowgroup"] {
    background-color: var(--background-alt-grey);
}

.table tbody:not(:first-of-type),
.table tbody:nth-child(odd) th[scope="rowgroup"] {
    background-size: 100% 4px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
}

.table tbody td,
.table tbody th {
    padding: 0.75rem !important;
    border-left: 1px solid var(--border-default-grey) !important;
    vertical-align: middle;
}

.table tbody td:last-child,
.table tbody th:last-child {
    border-right: 1px solid var(--border-default-grey) !important;
}

.table tbody tr:not(:last-child) td,
.table tbody tr:not(:last-child) th:not([scope="rowgroup"]) {
    border-bottom: 1px solid var(--border-default-grey) !important;
}


.table thead tr:not(:first-child) th,
.table tfoot tr:not(:first-child) td {
    border-top: 1px solid var(--border-default-grey) !important;
}

.table thead th:not(:first-child[rowspan]),
.table tfoot td:not(:first-child[rowspan]){
    border-left: 1px solid var(--border-default-grey) !important;
}

.table .fr-input-group .fr-label.fr-sr-only + .fr-input {
    margin: 0 !important;
}

.table input {
    margin: 0 !important;
    padding: 0.25rem 0.5rem !important;
    max-height: 2rem !important;
}

.table td input {
    max-width: 10rem !important;
}

.table td,
.table th {
    line-height: 1.125rem;
}

.table tbody th[scope="rowgroup"] {
    position: relative;
    vertical-align: top;
    padding: 1rem !important;
}

.table tbody th:not([scope="rowgroup"]) {
    font-weight: 500;
}

.table tfoot th {
    font-weight: 400;
}

.table tfoot {
    background-size: 100% 2px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
    background-color: var(--background-contrast-grey);
    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    color: var(--text-title-grey);
}

.delete-btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 50%;
    color: var(--text-default-error);
}

.table-cell--with-informations {
    position: relative;
    cursor: pointer;
}

.table-cell--with-informations:hover {
    background-color: var(--hover);
}

.table-cell--with-informations:active {
    background-color: var(--active);
}

.modale-button {
    margin-top: -2rem !important;
    margin-bottom: -2rem !important;
    transform: translateY(.25rem);
    padding: 0 !important;
    box-shadow: none !important;
}

.modale-button:hover,
.modale-button:active {
    background-color: transparent !important;
}

.modale-button::before {
    margin: 0 !important;
}

.modale-button::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    height: 100%;
    width: 100%;
}

.modale {
    font-weight: initial;
}
