
.download-icon::before {
    -webkit-mask-image: url(/_next/static/media/download-line.a6b45b28.svg) !important;
    mask-image: url(/_next/static/media/download-line.a6b45b28.svg) !important;
}

.download-icon [target=_blank]::after {
    display: none !important;
}
