.tile:not(.tile-no-border),
.tile-small:not(.tile-no-border) {
    box-shadow: 0 0 0 1px var(--border-default-grey);
}

.tile {
    padding: 1rem 2rem;
}

.tile-small {
    padding: .75rem 2rem;
}

.tile-note,
.tile-content {
    display: flex;
}

.text {
    color: var(--text-title-grey);
}

.note,
.note-small {
    font-weight: 700;
    line-height: 1;
}

.note {
    font-size: 2rem;
}

.note-small {
    font-size: 1.375rem;
}

.max {
    font-size: 0.875rem;
    font-weight: 200;
    transform: translateY(0.313rem);
}

@media (max-width: 35.938rem) {
    .tile-note {
        padding-top: .5rem;
        justify-content: center;
    }
    .tile-content {
        padding-top: .5rem;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 36em) {
    .tile,
    .tile-small {
        display: flex;
        align-items: stretch;
    }
    .tile-note {
        flex-shrink: 0;
        border-right: 1px solid var(--border-default-grey);
        padding-right: 1rem;
        align-items: center;
    }
    .tile-content {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }
}

