.stepperSteps[data-fr-steps="9"] {
  --steps: 9;
  --step-width: calc(100% / 9);
}

.stepperSteps[data-fr-steps="10"] {
  --steps: 10;
  --step-width: calc(100% / 10);
}

.stepperSteps[data-fr-steps="11"] {
  --steps: 11;
  --step-width: calc(100% / 11);
}

.stepperSteps[data-fr-steps="12"] {
  --steps: 12;
  --step-width: calc(100% / 12);
}

.stepperSteps[data-fr-steps="13"] {
  --steps: 13;
  --step-width: calc(100% / 13);
}

.stepperSteps[data-fr-steps="14"] {
  --steps: 14;
  --step-width: calc(100% / 14);
}

.stepperSteps[data-fr-current-step="9"] {
  --current-step: 9;
}

.stepperSteps[data-fr-current-step="10"] {
  --current-step: 10;
}

.stepperSteps[data-fr-current-step="11"] {
  --current-step: 11;
}

.stepperSteps[data-fr-current-step="12"] {
  --current-step: 12;
}

.stepperSteps[data-fr-current-step="13"] {
  --current-step: 13;
}

.stepperSteps[data-fr-current-step="14"] {
  --current-step: 14;
}
