.placeholder {
	align-items: center;
	border: 1px solid var(--border-default-grey);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 7.5rem 0;
}

.title {
	color: var(--text-mention-grey);
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.5rem;
}

.description {
	color: var(--text-mention-grey);
}
