.matrix {
	margin-bottom: 0;
}

.columnHeader {
	vertical-align: top;
}

.columnLabel {
	display: block;
	font-weight: 700;
}

.columnSubLabel {
	display: block;
	font-weight: 400;
}

.fileCell {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
}

.checkboxCell {
	text-align: center;

	:global(.fr-checkbox-group) {
		display: inline-flex;
	}
}
