/* FONTS */

/* /!\ WARNING this will only work on a proper deployement as it'll reuse the static files from the egapro/simulateur project */

/* gabriela-regular - latin */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/gabriela-v8-latin-regular.3951562b.eot); /* IE9 Compat Modes */
  src: local("Gabriela Regular"), local("Gabriela-Regular"),
    url(/static/media/gabriela-v8-latin-regular.3951562b.eot?#iefix)
      format("embedded-opentype"),
     url(/static/media/gabriela-v8-latin-regular.badfdabe.woff2)
      format("woff2"),

      url(/static/media/gabriela-v8-latin-regular.9db49c8e.woff) format("woff"),
     url(/static/media/gabriela-v8-latin-regular.1c9cd380.ttf)
      format("truetype"),

      url(/static/media/gabriela-v8-latin-regular.cfd57c98.svg#Gabriela) format("svg"); /* Legacy iOS */
}

/* cabin-regular - latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/cabin-v14-latin-regular.491d2a5b.eot); /* IE9 Compat Modes */
  src: local("Cabin"), local("Cabin-Regular"),
    url(/static/media/cabin-v14-latin-regular.491d2a5b.eot?#iefix)
      format("embedded-opentype"),
     url(/static/media/cabin-v14-latin-regular.1f3cefe3.woff2)
      format("woff2"),
     url(/static/media/cabin-v14-latin-regular.ad0cf94d.woff)
      format("woff"),
     url(/static/media/cabin-v14-latin-regular.78773388.ttf)
      format("truetype"),

      url(/static/media/cabin-v14-latin-regular.44f981a2.svg#Cabin) format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 120px);
}

body {
  background: linear-gradient(#eff0fa,#fff);
  color: #191a49;
  font-family: "Cabin",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

header img {
  width: 90px;
}

body > header {
  position: fixed;
  display: flex;
  padding: .5rem 0;
  background: #fff;
  font-family: Gabriela;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
body > header div {
  margin: auto;
  width: 800px;
  display: flex;
  align-items: center;
}
body > header hgroup {
  align-items: center;
  display: flex;
  min-width: fit-content;
  margin: 0 1rem;
}
body > header h1 {
  font-size: 1.5rem;
}
body > header a {
  color: inherit;
  text-decoration: none;
}
body > header p {
  margin: 0 1rem;
  font-size: .7rem;
}

.main {
  min-height: calc(100vh - 120px);
  margin-top: 100px;
  padding-bottom: 120px;
  padding: 1rem 1rem 0 1rem;
  background: transparent url('https://egapro.travail.gouv.fr/illustration-email.svg') no-repeat bottom right;
  padding-bottom: 10rem;
}

body > footer {
  border-top: #eee solid 1px;
  font-size: .88rem;
  display: flex;
  /* margin-top: 1rem; */
  padding: 1rem 0 .5rem 0;
}
body > footer header span {
  display: block;
  margin-top: .5rem;
}
body > footer a {
  color: inherit;
  font-size: .9em;
}
body > footer nav {
  width: 100%;
  margin: 0 1rem 0 1rem;
}
body > footer nav a {
  display: block;
  margin-bottom: .3rem;
}
body > footer p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

fieldset {
  border: none;
  margin-bottom: .5rem;
  padding-left: 0;
}
fieldset[disabled] {
  opacity: .5;
}
fieldset .row:first-child {
  margin-top: 0;
}

label {
  display: block;
  margin: .6rem 0 .3rem 0;
}

input[type=""],
input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=regex],
textarea,
select,
.fake-input {
  font: inherit;
  background-color: #fff;
  padding: .3rem 1rem;
  border: 1px solid #999;
  border-radius: .3rem;
  max-width: 50%;
}

table input[type=""],
table input[type=text],
table input[type=email],
table input[type=number],
table input[type=date],
table input[type=regex],
table textarea,
table select,
table .fake-input {
  width: 100%; /* Fix all columns to be able to customize width. Acts even with max-width below */
  max-width: 80%;
}

table {
  margin-bottom: 2rem;
}

table thead th {
  text-align: left;
}

table thead th:first-child {
  width: 20%;
}

table tbody.percentage td::after {
  content: "%";
}

.declaration-mode {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fea;
}

.row {
  margin: 2rem 0;
  display: flex;
}
.row > :not(:last-child) {
  margin-right: 1rem;
}

.row input[type=""],
.row input[type=text],
.row input[type=email],
.row input[type=number],
.row input[type=date],
.row input[type=regex],
.row textarea,
.row select,
.row .fake-input {
  max-width: 100%;
}

.row h4 {
  margin: .6rem 0;
}

.wide {
  max-width: 100% !important;
  width: 100% !important;
}

progress {
  display: none;
}
progress + * {
  margin-left: 1rem;
}

nav {
  margin-top: 2rem;
}

button,
.button,
[rel=prev],
[rel=next] {
  border: 1px solid #696cd1;
  color: #696cd1;
  border-radius: .3rem;
  padding: .7rem 1.8rem;
  background-color: #fff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.multitable-actions {
  display: flex;
  margin: 1rem 0;
}
.multitable-actions :first-child {
  margin-right: 1rem;
}

button.add,
button.remove {
  background-color: transparent;
  display: block;
  padding: .3rem 1rem;
}
button.add::before {
  content: '+ ';
}
button.remove {
  color: #911;
  border-color: #911;
}
button.remove::before {
  content: 'x ';
}

[rel=next] {
  background-color: #696cd1;
  color: #fff;
}

#toast {
  position: fixed;
  bottom: -100px;
  left: 0;
  padding-bottom: 20px;
  color: #fff;
  overflow-y: hidden;
  transition: bottom .3s ease-in-out;
  width: 100%;
  text-align: center;
}
#toast.visible {
  bottom: 0;
}
#toast .content {
  border-radius: 10px;
  padding: .8rem 1rem .8rem 2rem;
  background-color: #888;
  width: fit-content;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
}
#toast.error .content {
  background-color: #e11;
}
#toast.warning .content {
  background-color: #d81;
}
#toast .message {
  padding-right: 1rem;
}
#toast .close {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.year-2021-and-after,
.non-calculable {
  display: none;
}
.declaration-2021-and-after .year-2021-and-after {
  display: inline;
}
.declaration-2021-and-after.resultat-non-calculable .non-calculable {
  display: inline;
}
.declaration-2021-and-after .year-2020-and-before {
  display: none;
}

.entreprise, .ues {
  display: none;
}

.grow {
  flex-grow: 2;
}

.siren {
  width: 9em;
}

.fake-input {
  display: inline-block;
}

/** Tweaks and Hacks **/

/* Cursor not-allowed on readonly/disabled */
button[disabled],
a.button[disabled] {
  background-color: #bbb;
  box-shadow: none;
  cursor: not-allowed;
}
[readonly],
[disabled],
[disabled] * {
  cursor: not-allowed;
  border-width: 0;
}
input:not([type="radio"]):not([type="checkbox"]):read-only {
  cursor: not-allowed;
  border-width: 0;
}
input[type="radio"][disabled] {
  border-width: 0;
}


/* "arrows" to increase/decrease numbers were asked to be removed */
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Spinner from https://tobiasahlin.com/spinkit/ */

.loader {
  width: 20px;
  height: 20px;
  background-color: #696cd1;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: none;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.loader-wrapper {
  position: relative;
}
.loader-wrapper.loading .loader {
  display: inline-block;
}

/* Objectifsde progression et mesures de correction */

.show-for-2021 {
  display: none;
}

.show-for-2021.year-2021-and-after {
  display: block;
}

.show-for-75-85, .show-for-0-75 {
  display: none;
}

#objectifs-mesures.index-between-75-and-85 .show-for-75-85 {
  display: block;
}

#objectifs-mesures.index-75-and-below .show-for-0-75 {
  display: block;
}

.legal-text {
  font-size: .9rem;
  color: #202020;
}


.msg {
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .3rem;
  background-color: #fff;
  border: 1px solid #e2e8f0;
}
