global:
  pgSecretName: pg-app

app:
  ~chart: app
  imagePackage: app
  probesPath: /healthz
  containerPort: 3000
  ingress:
    enabled: false
  envFrom:
    - secretRef:
        name: "{{ .Values.global.pgSecretName }}"
    - secretRef:
        name: "staff"
    - secretRef:
        name: "egapro-secret"
    - secretRef:
        name: github-oauth
    - configMapRef:
        name: egapro
    - secretRef:
        name: redis-auth
  env:
    - name: SENTRY_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: sentry
          key: SENTRY_AUTH_TOKEN
    - name: NEXT_PUBLIC_SENTRY_DSN
      valueFrom:
        secretKeyRef:
          name: sentry
          key: APP_SENTRY_DSN
  vars:
    POSTGRES_HOST: "$(PGHOST)"
    POSTGRES_DB: "$(PGDATABASE)"
    POSTGRES_PORT: "$(PGPORT)"
    POSTGRES_USER: "$(PGUSER)"
    POSTGRES_PASSWORD: "$(PGPASSWORD)"
    POSTGRES_SSLMODE: "$(PGSSLMODE)"
    SECURITY_JWT_SECRET: "$(EGAPRO_SECRET)"
    NEXT_PUBLIC_EGAPRO_ENV: "{{ .Values.global.env }}"
    NEXTAUTH_URL: "https://{{ .Values.global.host }}/api/auth"
    REDIS_HOST: "redis-master"
    REDIS_PORT: "6379"

nginx:
  ~chart: app
  imagePackage: nginx
  host: "{{ .Values.global.host }}"
  ingress:
    customHeaders:
      "X-Frame-Options": "deny"
      "X-XSS-Protection": "1; mode=block"
      "X-Content-Type-Options": "nosniff"
      "Referrer-Policy": "no-referrer, strict-origin-when-cross-origin"
      "Permissions-Policy": "fullscreen=(), display-capture=(), camera=(), microphone=(), web-share=(), geolocation=()"
      "Cross-Origin-Embedder-Policy": "credentialless"
      "Cross-Origin-Resource-Policy": "cross-origin"
      "Cross-Origin-Opener-Policy": "same-origin"
    paths:
      - /
      - /api/auth(/|$)(.*)
      - /api/monitoring(/|$)(.*)
      - /index-egapro/recherche(/|$)(.*)
    pathType: ImplementationSpecific
  certSecretName: api-crt
  containerPort: 8080
  probesPath: /live
  livenessProbe:
    httpGet:
      path: /live
      port: 8080
  readinessProbe:
    httpGet:
      path: /ready
      port: 8080
  lifecycle:
    preStop:
      exec:
        command: ["/pre-stop.sh"]
  resources:
    requests:
      cpu: 30m
      memory: 256Mi
    limits:
      cpu: 2
      memory: 1G

api:
  enabled: false

files:
  enabled: false

pg:
  ~chart: pg

redis:
  fullnameOverride: redis
  ~tpl~namespaceOverride: "{{ .Values.global.namespace }}"
  ~forceRestart: false
  auth:
    existingSecret: redis-auth
    existingSecretPasswordKey: REDIS_PASSWORD
    usePasswordFiles: false #  Remove when https://github.com/bitnami/charts/pull/32215 is merged
project:
  # whitelist:
  #   # DigDash dev
  #   - "94.23.250.213"
  #   # DigDash prod 1 and 2
  #   - "37.187.27.197"
  #   - "37.187.137.149"
  #   - "217.182.225.117"
  #   - "217.182.225.113"
  #   # Invenis prod old and new
  #   - "217.182.142.112"
  #   - "51.38.59.32"
