.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.userInfo {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--border-default-grey);
}

.userName {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: 700;
	color: var(--text-default-grey);
}

.userEmail {
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.71em;
	font-weight: 400;
	color: var(--text-mention-grey);
	word-break: break-word;
}
