.searchContainer {
  position: relative;
}

.clearButton {
  position: absolute;
  right: 4px;
  top: calc(50% + 4px);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}