name: Python API Tests

on:
  push:
    branches: ["**"]

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.ref }}

env:
  NODE_ENV: test

jobs:
  check-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9.21'

      - name: Install Dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          yarn --immutable
          yarn setup-python

      - name: Up for tests API
        run: docker compose up --build -d api db test_db

      - name: Check types
        run: yarn check-all

      - name: Down for tests API
        run: docker compose down
